<nav class="navbar">

  <ul class="navbar-list">

    <li class="navbar-item">
      <a routerLink="about"><button class="navbar-link"  routerLinkActive="active">About</button></a>
    </li>

    <li class="navbar-item">
      <a routerLink="resume"><button class="navbar-link"  routerLinkActive="active">Resume</button></a>
    </li>

    <li class="navbar-item">
      <a routerLink="portfolio"><button class="navbar-link"  routerLinkActive="active">Portfolio</button></a>
    </li>

    <li class="navbar-item">
      <a routerLink="blog"><button class="navbar-link"  routerLinkActive="active">Blog</button></a>
    </li>

    <li class="navbar-item">
      <a routerLink="contact"><button class="navbar-link"  routerLinkActive="active">Contact</button></a>
    </li>

  </ul>

</nav>
